body{
    background-color:azure;
    justify-content:  center;
    margin-top: 100px;;
    display:grid;
    background-image: url('image2.jpg');
    background-size: cover;

}
h2{

    color: white;
    text-align : center;
    padding-left:  0px;
    padding-right: 0px;
    padding :10px;
    
    
    
}
div{
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
     
}
.div1{
    padding:20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    width: 400px;
    
}
button{
    background-color:rgb(14, 13, 13);
    color: white;
    font-size: 20px;
    padding:10px;
    border-radius: 10px;
}
#txtdisplay{
    padding:10px;
    width: 370px;
    text-align: right;
    background-color:rgb(14, 13, 13);
    margin-left: 20px;
    height: 25px;
    border-color: white;
    border-width: 1px;
    color: white;
}
.myTheme{
    color: rgb(163, 53, 75);
    border-radius:25px;
}





